<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
<!--
            <div class="panel-heading">

            </div>
-->

            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Origin:
                        <span><strong><%= @sowing.origin %></strong></span>  
                    </li>

                    <li class="list-group-item">NumSeed:
                        <span><strong> <%= @sowing.numSeed %></strong></span>  
                    </li>

                    <li class="list-group-item">Weight:
                        <span><strong> <%= @sowing.weight %></strong></span>  
                    </li>

                    <li class="list-group-item">Week:
                        <span><strong> <%= @sowing.week %></strong></span>  
                    </li>

                    <li class="list-group-item">Hydratation:
                        <span><strong><%= @sowing.hydratation %></strong></span>  
                    </li>

                    <li class="list-group-item">Calendar:
                        <span><strong><%= @sowing.calendar %></strong></span>  
                    </li>
                </ul>
            </div>

            <div class="panel-footer">
                <%= link_to 'Edit', edit_sowing_path(@sowing) %>

                <%= link_to 'Back', sowings_path %>

            </div>
        </div>
    </div>
</div>




